<!DOCTYPE html>
<html lang="en">
<head>
  <title>CONNECT FTL Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h1><center>CONNECT FTL</center></h1>
    <a class="btn btn-primary btn-lg btn-block" href="volume_forecaster/" role="button">Volume Forecaster</a>
    <a class="btn btn-primary btn-lg btn-block" href="pattern_forecaster/" role="button">Pattern Forecaster</a>
  
  </div>

</body>
</html>